*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    background-color: #c5c6c7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#1f2833;
    font-family: 'Poppins', sans-serif;
 
}

.logo{
    color: #66FCf1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;    
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    color: #66FCf1;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #45a29e;
    margin: 5px;
    transition: all 0.3s ease;
}

#post {

    background-color: #1f2833;
    margin-top: 3vh;
    height: 50vh;
    overflow: hidden;
    color: #66FCf1;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            10px 10px 15px rgba(0,0,0,0.5),
            -1px -1px 30px rgba(0,0,0,0.2);
}

#flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#flex img {
    display: block;
    width: 400px;
    height: 350px;
    margin-top: 20px;
}

#flex h2 {
    position: relative;
    text-align: center;
}

.object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover; /*magic*/
  }




#swap {
    display: flex;
    align-items: center;
    color: red;
}

#post h3 {
    text-align: center;
    padding: 30px;
}

#third {
    display: flex;
    justify-content: space-between;
}

#profilecontent {
    background-color: #1f2833;
    display: flex;
    color: #66FCf1;
    margin-top: 7vh;
    justify-content: space-evenly;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            10px 10px 15px rgba(0,0,0,0.5),
            -1px -1px 30px rgba(0,0,0,0.2);
}

#profilecontent img{
    border-radius: 50%;
    margin-top: 2vw;
}

#profilecontent .media{
    display: flex;
    flex-direction: column;
    
}

.media h2 {
    margin-top: 2vh;
    font-size: 60px;
    margin-left: 4vw;
}

.media h3 {
    margin-top: 5vh;

    margin-left: 4vw;
}

.form-group h4 {
    font-size: 20px;

}













@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #0b0c10;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%); 
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}